{% comment %}

Instructions:

1. add this code inside main-product schema as block
{
    "type": "additional_content",
    "name": "Additional content",
    "limit": 1
},

2. add to the block when case
{%- when 'additional_content' -%}
    {% render 'additional-content-on-variant-change.liquid' variants: product.variants %} 

3. use this code on the theme variant function event and get the variant id
 document.querySelectorAll(`.variant-additional-content`).forEach((element => {
    element.style.display = 'none';
    document.querySelector(`#variant-additional-content-${this.currentVariant.id}`).style.display = 'block';
}));


{% endcomment %}

<style>
    .variant-additional-content {
        display: none;
    }
</style>

{% for variant in variants %}
    <div id="variant-additional-content-{{ variant.id}}" class="variant-additional-content" variant-id="{{ variant.id }}">{{ variant.metafields.custom.additional_content.value }}</div>
{% endfor %}
