{% for link in linklists[menu-handle].links %}
                <!-- menu content -->
                <li class="menu-link">
                  <input type="checkbox" name="" {%if link.active%}checked{%endif%}>  <a href="{{ link.url }}" class="{%if link.active%}active{%endif%}">{{ link.title }}</a>
                </li>
              {% endfor %}